<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/lnr-icon.css" />

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/assets/plugins/select2/select2.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />

    <title>Login</title>
  </head>

  <body>
    <div id="loader-wrapper">
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="inner-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
          <div class="loginbox shadow-sm grow">
            <div>
              <h1 class="">404!</h1>
            </div>
            <div>
              <h2>Page Not Found</h2>
            </div>
            <div class="text-center ">
              <a>Forgot Password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/plugins/select2/select2.min.js"></script>

    <script src="/assets/js/script.js"></script>
  </body>
</html>
